  <!-- Navbar -->
  <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Register</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Order By
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdown">
              <li><a class="dropdown-item" href="#">Popularity</a></li>
              <li><a class="dropdown-item" href="#">Date Added</a></li>
              <li><a class="dropdown-item" href="#">Tags</a></li>
              <li><a class="dropdown-item" href="#">Title</a></li>
              <li><a class="dropdown-item" href="#">My Rating</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search Tags" aria-label="Search">
          <button class="btn btn-dark my-2 my-sm-0" id="search-button" type="submit"><i
              class="fas fa-search"></i></button>
        </form>

      </div>
    </div>
  </nav>
