<% if (!user.id) { %>

  <div class="row sidebar-head">
    <div class="col-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="side-bar" style="width: 200px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

          <span><img src="/background-img/logo4.jpeg" style="max-width:160px"></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">

          <!-- Start of Code if No User -->
          <li>
            <a href="#" class="nav-link text-white">
              Please login to access your resources, and your likes!
            </a>
          </li>
          <!-- End of Code if No User -->
        </ul>
      </div>
    </div>
  </div>


  <% } else { %>

    <div class="row">
      <div class="col-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="side-bar" style="width: 200px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

            <span><img src="/background-img/logo4.jpeg" style="max-width:160px"></span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/resources/mywall" class="nav-link text-white my-resources" aria-current="page">
                <span id="my-resources-taglist">My Resources</span>
              </a>
                <ul class="list-unstyled">
                  <ul>
                    <%  for (tags of user.tags) {      %>
                   <li><a class="my-tags-sidebar" href="/resources/tags/<%= tags.tag %>"</a><%= tags.tag %></li>
                    <% } %>

                  </ul>
                </ul>


            </li>
            <li>
              <a href="/resources/mylikes" class="nav-link text-white my-likes">
                My Likes
              </a>
            </li>
            <li>
              <a href="/users/myprofile" class="nav-link text-white my-user-profile">
                My User Profile
              </a>
            </li>
            <li>
              <a href="/resources/new" class="nav-link text-white my-create-resource">
                Create Resource
              </a>
            </li>
          </ul>
          <hr>
          <form action="/users/logout" class="logout-button" method="GET">
            <button type="submit" class="btn btn-outline-light logout">Logout</button>
          </form>

        </div>
      </div>
    </div>

    <% } %>
