
  <div class="create-card" style="width: 80rem; height: 80rem">


  <section id="create-resource">

  <span id="title-span"><h3>Name your resource:</h3><form method="POST" action="/">
    <input name="title" class="create-form" placeholder="Wikipedia">
  </form></span>

  <span id="desc-span"><h5>Let everyone know what your resource is about:</h5><form method="POST" action="/">
    <textarea name="text" class="create-form"></textarea>
    <div class="desc-submit">
    </div>
  </form></span>

  <span id="tag-span"><h5>Let's add some tags:</h5><form method="POST" action="/">
    <div id="tag-forms">
    <input name="tag1" id="tag-form" placeholder="Chemistry">
    <input name="tag2" id="tag-form" placeholder="Physics">
    <input name="tag3" id="tag-form" placeholder="CompSci">
    </div>
    <div class="tag-submit">
    </div>
  </form></span>

  <span id="url-span"><h5>Link to your resource:</h5><form method="POST" action="/">
    <input name="url" class="create-form" value="https://" style="min-width:10rem;">
    <div class="url-submit">
    </div>
  </form></span>

</section>
