

  <div class="create-card" style="width: 40rem; height: 50rem; margin-left:16%;">


  <section id="create-resource">

  <p><h2>Create a New Resource!</h2></p>
  <span id="title-span"><h4>Title:</h4><form method="POST" action="/">
    <input name="title" class="create-form" placeholder="Wikipedia">
  </form></span>
  <hr>
  <span id="desc-span"><h5>Let everyone know what your resource is about:</h5><form method="POST" action="/">
    <textarea name="text" class="create-form desc-text" style="min-width:500px"></textarea>

  </form></span>
  <hr>

  <span id="tag-span"><h5>Let's add some tags:</h5><form method="POST" action="/">
    <div id="tag-forms">
    <div class="tag-title"><p>Tag:   </p><input name="tag1" class="tag-form create-form" placeholder="Chemistry"></div>
    <div class="tag-title"><p>Tag:   </p><input name="tag2" class="tag-form create-form"placeholder="Physics"></div>
    <div class="tag-title"><p>Tag:   </p><input name="tag3" class="tag-form create-form" placeholder="CompSci"></div>
    </div>
  </form></span>
  <hr>
  <span id="url-span"><h5>Link to your resource:</h5><form method="POST" action="/">
    <input name="url" class="create-form" value="https://" style="min-width:500px;">

  </form></span>
  <hr>
  <div class="create-resource">
    <button type="submit" class="btn btn-secondary">Create!</button>
  </div>

</section>
