<!-- Tag Cards -->

<!-- ROW De-marker (3 cards per row)-->
<div class="row g-0 row-gap">
  <!-- Individual Card -->
  <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Periodic Table</h5>
        <p class="card-text">The chemical elements in tabular form.</p>
        <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
        <footer>
          <div class="icons">
            <span>
              <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
              <span>
                <i class="fa-regular fa-star star1"></i>
                <i class="fa-regular fa-star star2"></i>
                <i class="fa-regular fa-star star3"></i>
                <i class="fa-regular fa-star star4"></i>
                <i class="fa-regular fa-star star5"></i>
              </span>
          </div>
          <p class="card-comments">Comments <span class="comment-count">6</span></p>
          <span class="card-avg-rating"><strong>4.5</strong></span>
          <span>Avg Rating</span>
          <hr>
          <span class="card-bottom">
            <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
            <a class="card-spl" href="#">Card Page</a>
          </span>
          </span>

        </footer>
      </div>
    </div>
  </div>
  <!-- End of Individual Card -->
  <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Periodic Table</h5>
        <p class="card-text">The chemical elements in tabular form.</p>
        <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
        <footer>
          <div class="icons">
            <span>
              <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
              <span>
                <i class="fa-regular fa-star star1"></i>
                <i class="fa-regular fa-star star2"></i>
                <i class="fa-regular fa-star star3"></i>
                <i class="fa-regular fa-star star4"></i>
                <i class="fa-regular fa-star star5"></i>
              </span>
          </div>
          <p class="card-comments">Comments <span class="comment-count">6</span></p>
          <span class="card-avg-rating"><strong>4.5</strong></span>
          <span>Avg Rating</span>
          <hr>
          <span class="card-bottom">
            <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
            <a class="card-spl" href="#">Card Page</a>
          </span>
          </span>

        </footer>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 22rem;">
      <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Periodic Table</h5>
        <p class="card-text">The chemical elements in tabular form.</p>
        <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
        <footer>
          <div class="icons">
            <span>
              <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
              <span>
                <i class="fa-regular fa-star star1"></i>
                <i class="fa-regular fa-star star2"></i>
                <i class="fa-regular fa-star star3"></i>
                <i class="fa-regular fa-star star4"></i>
                <i class="fa-regular fa-star star5"></i>
              </span>
          </div>
          <p class="card-comments">Comments <span class="comment-count">6</span></p>
          <span class="card-avg-rating"><strong>4.5</strong></span>
          <span>Avg Rating</span>
          <hr>
          <span class="card-bottom">
            <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
            <a class="card-spl" href="#">Card Page</a>
          </span>
          </span>

        </footer>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row g-0 row-gap">
    <div class="col">
      <div class="card" style="width: 22rem;">
        <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Periodic Table</h5>
          <p class="card-text">The chemical elements in tabular form.</p>
          <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
          <footer>
            <div class="icons">
              <span>
                <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
                <span>
                  <i class="fa-regular fa-star star1"></i>
                  <i class="fa-regular fa-star star2"></i>
                  <i class="fa-regular fa-star star3"></i>
                  <i class="fa-regular fa-star star4"></i>
                  <i class="fa-regular fa-star star5"></i>
                </span>
            </div>
            <p class="card-comments">Comments <span class="comment-count">6</span></p>
            <span class="card-avg-rating"><strong>4.5</strong></span>
            <span>Avg Rating</span>
            <hr>
            <span class="card-bottom">
              <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
              <a class="card-spl" href="#">Card Page</a>
            </span>
            </span>

          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 22rem;">
        <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Periodic Table</h5>
          <p class="card-text">The chemical elements in tabular form.</p>
          <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
          <footer>
            <div class="icons">
              <span>
                <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
                <span>
                  <i class="fa-regular fa-star star1"></i>
                  <i class="fa-regular fa-star star2"></i>
                  <i class="fa-regular fa-star star3"></i>
                  <i class="fa-regular fa-star star4"></i>
                  <i class="fa-regular fa-star star5"></i>
                </span>
            </div>
            <p class="card-comments">Comments <span class="comment-count">6</span></p>
            <span class="card-avg-rating"><strong>4.5</strong></span>
            <span>Avg Rating</span>
            <hr>
            <span class="card-bottom">
              <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
              <a class="card-spl" href="#">Card Page</a>
            </span>
            </span>

          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 22rem;">
        <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Periodic Table</h5>
          <p class="card-text">The chemical elements in tabular form.</p>
          <a href="http://ptable.com" class="btn btn-primary btn-sm card-link">PTable</a>
          <footer>
            <div class="icons">
              <span>
                <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
                <span>
                  <i class="fa-regular fa-star star1"></i>
                  <i class="fa-regular fa-star star2"></i>
                  <i class="fa-regular fa-star star3"></i>
                  <i class="fa-regular fa-star star4"></i>
                  <i class="fa-regular fa-star star5"></i>
                </span>
            </div>
            <p class="card-comments">Comments <span class="comment-count">6</span></p>
            <span class="card-avg-rating"><strong>4.5</strong></span>
            <span>Avg Rating</span>
            <hr>
            <span class="card-bottom">
              <p class="card-subtitle mb-2 text-muted card-tag">Chemistry</p>
              <a class="card-spl" href="#">Card Page</a>
            </span>
            </span>
          </footer>
        </div>
      </div>
    </div>

    <div class="row g-0 row-gap">
      <div class="col">
        <div class="card" style="width: 22rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 22rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 22rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

  </div>
