<!-- Single Resource Page Card -->

  <div class="spl-card" style="width: 80rem;">
    <!-- Leftside of Card -->
    <div class="spl-body">
      <div class="spl-info">
        <h1 class="spl-title">Periodic Table</h1>
        <p class="spl-text">The periodic table, also known as the periodic table of the (chemical) elements, is a
          tabular display of the chemical elements. It is widely used in chemistry, physics, and other sciences,
          and is generally seen as an icon of chemistry. It is a graphic formulation of the periodic law, which
          states that the properties of the chemical elements exhibit a periodic dependence on their atomic
          numbers.</p>
        <h3>
          <bold>Tags: </bold>
        </h3>
        <p class="spl-tags">Chemistry, Physics</p>
        <h3>
          <bold>Link to Resource: </bold>
          <h3>
            <a href="http://ptable.com" class="btn btn-secondary btn spl-link">PTable</a><span
              id="spl-link-addy">http://ptable.com</span>
            <div class="icons">
              <span>
                <i class="fa fa-heart red ml-3 hover-animation" data-hover-color="red"></i>
                <span>
                  <i class="fa-regular fa-star star1"></i>
                  <i class="fa-regular fa-star star2"></i>
                  <i class="fa-regular fa-star star3"></i>
                  <i class="fa-regular fa-star star4"></i>
                  <i class="fa-regular fa-star star5"></i>
                </span>
            </div>
            <span class="card-avg-rating">4.5</span>
            <span>Avg Rating</span>

            </span>
      </div>
      <div class="spl-comment-form">
        <form method="POST" action="/">

          <textarea name="text" id="comment-text"></textarea>
          <div class="comment-submit">
            <button type="submit" class="btn btn-secondary">Comment</button>
          </div>
        </form>

      </div>
    </div>
    <!-- Rightside of Card -->
    <div class="spl-comment-body">
      <img src="https://www.visionlearning.com/images/figure-images/52-a.jpg" class="card-img-top spl-url-preview"
        alt="...">

      <!-- 'Old' Comments -->
      <!-- Single Comment -->
      <section class="spl-comments">
        <header class="spl-commenter">
          <span class="name-and-pic">
            <img src="https://i.imgur.com/nlhLi3I.png">
            <p class="spl-comment-name">Carl Sagan</p>
          </span>
          <span class="handle">@Starboy</span>
        </header>
        <hr>
        <p class="comment-content">
          A great interactive tool! I can see use for this in the classroom. Great presentation and native dark
          mode makes it so easy on the eyes!
        </p>
      </section>
      <!-- End of Single Comment -->
      <section class="spl-comments">
        <header class="spl-commenter">
          <span class="name-and-pic">
            <img src="https://i.imgur.com/73hZDYK.png">
            <p class="spl-comment-name">Dmitri Mendeleev</p>
          </span>
          <span class="handle">@Mendelevium</span>
        </header>
        <hr>
        <p class="comment-content">
          Made some good changes on my original design.
        </p>
      </section>

    </div>

  </div>
