<div class="user-card" style="width: 40rem; height: 50rem; margin-left:16%;">


  <section id="create-resource">

    <p>
    <h2 class="rainbow">Nice to see you, <span class="user-name">Yuri!</span></h2>
    </p>
    <span>
      <p class="rainbow">Your user profile:</p>
    </span>
    <hr class="rainbow">
    <span id="user-name">
      <h5 class="rainbow">Username:</h5>
      <output name="username" class="uname rainbow">Yuri</output>
    </span>
    <hr class="rainbow">
    <span id="desc-span">
      <h5 class="rainbow">Do you want to change your email? </h5>
      <h5 class="rainbow">You can do it here:</h5>
      <span id="flex-email-update">
      <input name="emailupdate" class="tag-form userpage-form rainbow" placeholder="New Email">
      <div class="update-email rainbow">
        <button type="submit" class="btn btn-secondary">Update!</button>
      </div>
    </span>

    </span>
    <hr class="rainbow">

    <span id="tag-span">
      <h5 class="rainbow">Your Email:</h5>
      <output name="useremail" class="useremail rainbow">itsyurika@mail.com</output>

    </span>
    <hr class="rainbow">

  </section>

</div>
