.create-card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: rgba( 155, 168, 168, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;

}

.create-form {

  background-color: transparent;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid black;
}

.create-form:focus {
  box-shadow: 0 0 5px black;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid black;
}

#tag-forms {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.tag-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tag-title p {
  margin-right: 10px;
}

#will-this-work {
  display: flex;
  justify-content: space-between;
}

#rutherford {
  max-height: 160px;
  max-width: 160px;
}
