* {
  font-family: 'Open Sans', sans-serif;
}

main {
  max-height: auto;
  min-height: 100vh;

  background: linear-gradient(to right bottom,
  #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #83a1e4,
  #6ca6e4, #57abe0, #31acd5, #00abc5, #00a9b2, #18a69d);


}

#background-img {
  background-image: url("/background-img/asfalt-light.png");
}

nav {
  display: flex;
  height: 100px;
  width: auto;
  margin-left: 200px;
  background-color: #333333;
  color: #ebebe7;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

.search-form {
  margin-right: 5px;
}

#search-button {
  border: 1px solid white;
  padding: 6px 14px 6px 14px;
  border-radius: 5px;
  float: right;
}

#side-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1;

}

// .edutag {
//   padding-bottom: 4px;
//   padding-top: 4px;
//   padding-left: 18px;
// }


.card {
  margin-top: 40px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.8px );
  -webkit-backdrop-filter: blur( 6.8px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card:hover {
  transform: translate(-3px, -3px);
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
}

.card-comments {
  margin-top: 5px;
}


.card-bottom {
  display: inline;
  align-content: center;
}

.card-link {
  float: right;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.comment-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-spl {
  float: right;
}

.fa-heart:hover {
  transform-origin: 50% 50%;
  animation: pulse 2000ms;
}


.fa-star:hover {
  animation: rotation 0.5s linear;
}

.login-dd {
  width: 100%;
  height: 80px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  display: none;
  z-index: 20;

}

.register-dd {
  width: 100%;
  height: 80px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  display: none;
  z-index: 20;

}

.email-password {
  min-width: 400px;

}

.user-email-password {
  min-width: 300px;

}

.resource-img {
 padding: 16px 16px 0px 16px;
}

.rainbow {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

// .logout {
//   width: 180px;
//   align-items: center;
// }

.logout-button {
  display: flex;
  justify-content: center;

}

.my-tags-sidebar {
  text-decoration: none;
  color: white;
}

@keyframes rotation {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  15% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  30% {
    transform: scaleX(1) scaleY(1);
  }
  45% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  75% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-10 17:25:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
