main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    #c8cec4 0%,
    #9ba8a8 20%,
    #9ba8b8 34%,
    #c8cec4 59%,
    #c8ced4 74%,
    #c8cec4 100%
  );
}

  nav {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #333333;
  color: #ebebe7;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  font-family: 'Open Sans', sans-serif;
}

// // .search {
// //   display: flex;
// //   justify-content: space-between;
// // }

// .search-form {
//   float: left;
//   height: 20%;
//   width: 20%;
// }

// .user-login-and-search {
//   display: flex;
//   justify-content: space-between;


// }
