.fa-star {
  color: gold;
}

.fa-star:hover {
  animation: rotation 0.5s linear;
}


// .fa-heart:hover {
//   transform-origin: 50% 50%;
//   animation: pulse 2000ms;
// }


//heart functionality

// input[type="checkbox"] {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// .heart_checked {
//   opacity: 0;
//   z-index: 999;
// }

// .heart_checked {
//   font-weight: bold;
//   background: red;
//   background-clip: text;
// }

// label #heart-label {
//   position: absolute;
//   top: 24px;
//   right: 24px;
//   font-size: 25px;
// }

// .fa-heart,
// input {
//   cursor: pointer;
//   position: absolute;
//   right: 24px;
// }

// label>input[type="checkbox"]:checked~.heart_checked {
//   display: block;
//   opacity: 1;
// }

// body {
//   display: flex;
//   justify-content: center;
//   margin: 0;
//   height: 100vh;
// }

.heart-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#like-icon {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Roboto Serif', serif;
}

.star-rating {
  margin-top: 10px;
}

[id="heart"] {
  position: absolute;
  left: -100vw;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 30px;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {0%, 17.5% {font-size: 0;}}
